__pycache__/

*.csh

env/bin/

env/lib/python3.8/site-packages/

*.cfg

img/DefaultAvatar.jpg

img/img_avatar.png

*.jpg

package-lock.json

package.json

node_modules/

shopifyTutorial.py

img/.DS_Store

.DS_Store
