body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 100%;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    font-family: Courier New;
    width: 70%;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
}

th {
    background-color: lightblue;
    color: #336B6B;
    height: 35px;
    font-size: 18px;
}

td {
    color: #333;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

tr:nth-child(even){background-color: #f2f2f2}

h1 {
    color: #336B6B;
}

.form {
    margin-left: 20px;
    margin-top: 20px;
}

.outputForm {
    text-align: center;
    font-weight: bold;
}

.button {
  background-color: lightblue;
  border: 1px solid #aaa;;
  color: #336B6B;
  font-weight: bold;
  width: 32.9%;
  padding: 10px 0px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;

}

.signin {
    text-align: right;
}

#content, #item_info, #quantity, #price {
    width: 30%;
}

#myInput {
    width: 66.45%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-left:15%;
    margin-right:15%;
    text-align: center;
}