body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 100%;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    font-family: Courier New;
    width: 70%;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
}

th {
    background-color: lightblue;
    color: #336B6B;
    height: 35px;
    font-size: 18px;
}

td {
    color: #333;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

tr:nth-child(even){background-color: #f2f2f2}

h1 {
    color: #336B6B;
}

.form {
    margin-left: 20px;
    margin-top: 20px;
}

.outputForm {
    text-align: center;
    font-weight: bold;
}


.signin {
    text-align: right;
}

#content, #item_info, #quantity, #price {
    width: 30%;
}
