{% extends 'base.html' %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<title>Sherrands</title>
{% endblock %}

{% block body %}
<div class = "content">
    <div class="signin">
        {% if signInStatus == "Sign Out"%}
        <a href="/signout">{{signInStatus}}</a>
        {% else %}
        <a href="/signin">{{signInStatus}}</a>
        {% endif %}
        <a href="/signup">{{signUpStatus}}</a>
    </div>
	<h1 style="text-align: center"> Sherrands </h1>
	{% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no items on your list. Create one below!</h4>
    {% else %}
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Shopping List"><br><br>
    
    <button class="button" type="button" onclick="onlyShowMine();return false;">My Personal List</button>
    <button class="button" type="button" onclick="onlyShowNeighborhood();return false;">Neighborhood List</button>
    <button class="button" type="button" onclick="resetFilter();return false;">Rest List</button>
    
    <br>
    <br>
    
    <div style="overflow-x:auto;">
        <table>
            <thead>

            <tr>
                <th>Neighbor Username</th>
                <th>Neighborhood </th>
                <th>Store</th>
                <th>Items</th>
                <th>Quantity </th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="myTable">
            {% for task in tasks %}
                <tr>
                    <td>{{ task.user }}</td>
                    <td>{{ task.neighborhood }}</td>
                    <td>{{ task.content }}</td>
                    <td>{{ task.item }}</td>
                    <td>{{ task.desiredAmount }}</td>
                    <td>{{ task.pricePerUnit }}</td>
    <!--                 <td>{{ task.date_created.date() }}</td>
     -->                <td>
                        <a href="/delete/{{task.id}}">Delete</a>
                        <br>
                        <a href="/update/{{task.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
          <script>
          $(document).ready(function(){
            $("#myInput").on("keyup", function() {
              var value = $(this).val().toLowerCase();
              $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
            });
          });
          </script>

    </div>

    {% endif %}

    <div class="form">
		<form actions="/" method="POST">
            <label for="Store">Store:</label><br>
            <select class="select-css" name="content">
            {% for store in approvedStoreList %}
                <option value="{{ store }}">{{ store }}</option>
            {% endfor %}
            </select>
            <label for="Item">Item:</label><br>
            <input type="text" id="item_info" name="item_info"><br>
            <label for="Quantity">Quantity:</label><br>
            <input type="text" id="quantity" name="quantity"><br>
            <label for="Price">Price:</label><br>
            <input type="text" id="price" name="price"><br>

			<input type="submit" value="Submit">
            <br>
		</form>
	</div>

    <br> 
    <br>

    <div class="outputForm" method="post" onsubmit="myGoingToFilter();return false;">
        <form id="outputForm">
          <label for="gotostore">GOING TO:</label>
          <input type="text" placeholder="Type Name of Store" id="store" name="store" >
          <input type="submit" value="Submit">
        </form> 
    </div>
    <br>

    <script type="text/javascript">      
      function myGoingToFilter() {
          var neighborhood = '{{neigh}}'
          var val = document.getElementById("store").value
          var value = val.toLowerCase();
          $("#myTable tr").filter(function() {
            var containsNeighborhood = ($(this).text().toLowerCase().indexOf(neighborhood))
            if (containsNeighborhood > -1){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            }
            else{
              $(this).toggle((9>10)) //this just always evaluates to False
            }
          });
          console.log(value)
          $.post( "/sendMessage", {
            javascript_data: val
          });

        }

          function onlyShowMine() {
          var curr_user = '{{userNameForFilter}}'
          // console.log("user: " + curr_user)
          $("#myTable tr").filter(function() {
            var containsUser = ($(this).text().toLowerCase().indexOf(curr_user.toLowerCase()))
            console.log($(this).text().toLowerCase())
            if (containsUser > -1){
              $(this).toggle((9<10)) //this just always evaluates to True
            }
            else{
              $(this).toggle((9>10)) //this just always evaluates to False
            }
          });
        }

          function onlyShowNeighborhood() {
          var neighborhood = '{{neigh}}'
          // console.log(neighborhood)
          $("#myTable tr").filter(function() {
            var containsNeighborhood = ($(this).text().indexOf(neighborhood))
            if (containsNeighborhood > -1){
              $(this).toggle((9<10)) //this just always evaluates to True
            }
            else{
              $(this).toggle((9>10)) //this just always evaluates to False
            }
          });
        }

          function resetFilter() {
          $("#myTable tr").filter(function() {
            $(this).toggle((9<10))
          });
        }

    </script>

</div> 
{% endblock %}

