{% extends 'base.html' %}

{% block head %}
<title>Sherrands</title>
{% endblock %}

{% block body %}
<div class = "content">
    <div class="signin">
        {% if signInStatus == "Sign Out"%}
        <a href="/signout">{{signInStatus}}</a>
        {% else %}
        <a href="/signin">{{signInStatus}}</a>
        {% endif %}
        <a href="/signup">{{signUpStatus}}</a>
    </div>
	<h1 style="text-align: center"> Sherrands </h1>
	{% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no items on your list. Create one below!</h4>
    {% else %}
    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>Neighbor Username</th>
                <th>Store</th>
                <th>Items</th>
                <th>Quantity </th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.user }}</td>
                    <td>{{ task.content }}</td>
                    <td>{{ task.item }}</td>
                    <td>{{ task.desiredAmount }}</td>
                    <td>{{ task.pricePerUnit }}</td>
    <!--                 <td>{{ task.date_created.date() }}</td>
     -->                <td>
                        <a href="/delete/{{task.id}}">Delete</a>
                        <br>
                        <a href="/update/{{task.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% endif %}

    <div class="form">
		<form actions="/" method="POST">
            <label for="Store">Store:</label><br>
            <input type="text" id="content" name="content"><br>
            <label for="Item">Item:</label><br>
            <input type="text" id="item_info" name="item_info"><br>
            <label for="Quantity">Quantity:</label><br>
            <input type="text" id="quantity" name="quantity"><br>
            <label for="Price">Price:</label><br>
            <input type="text" id="price" name="price">
            <br>
			<input type="submit" value="Submit">
            <br>
		</form>
	</div>
</div> 
{% endblock %}
