{% extends 'base.html' %}

{% block head %}
<title>Sherrands</title>
{% endblock %}

{% block body %}
<div class = "form">
	<h1 style="text-align: center">Update Item</h1>

	<form actions="/update/{{tasks.id}}/{{tasks.desiredAmount}}" method="POST">
        <label for="Store">Store:</label><br>
        <select class="select-css" name="content">
        {% for store in approvedStoreList %}
        	{% if store == tasks.content %}
            	<option value="{{ store }}" selected> {{ store }} </option>
            {% else %}
            	<option value="{{ store }}"> {{ store }} </option>
            {% endif %}
        {% endfor %}
        </select>
		<label for="Item">Item:</label><br>
		<input type="text" name="item_info" id="item_info" value="{{tasks.item}}"><br>
		<label for="Quantity">Quantity:</label><br>
		<input type="text" name="quantity" id="quantity" value="{{tasks.desiredAmount}}"><br>
		<input type="submit" value="Update">
	</form>
</div> 
{% endblock %}